* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.arrows {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
  animation: anim 3s infinite;
  color:black;
}
@keyframes anim {
  0% {transform: translateY(0)}
  20% {transform: translateY(0)}
  40% {transform: translateY(-30px)}
  50% {transform: translateY(0)}
  60% {transform: translateY(-15px)}
  80% {transform: translateY(0)}
  100% {transform: translateY(0)}
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
 background-image: url('./images/img-1.jpg'); 
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-8.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
/* About Css */
.imgId{
  text-align: center;
  
}
 .imgId img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80%;
  width: 30%;
  
}