.div{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding-bottom:200px ;
}
.h1{
    font-family: 'Open Sans', sans-serif;
    color: orangered;
}
.bg{
    background-color: orangered;
   
  }
.workTitle{
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;

}